html,
body {
  width: 143px;
  height: 50px;

  color: white;
  font-size: 15px;
  background-color: #3e3e3c;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}
